MISTRAL_API_KEY = " YOUR_API_KEY"
MISTRAL_MODEL="choose_model"   # optional, this is the default

LANGCHAIN_TRACING_V2="true"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="your_langchain_api_key"
LANGCHAIN_PROJECT="write_your_project_name"
